/* You can add global styles to this file, and also import other style files */
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url(./assets/rowan-chestnut-smaS_Uxg4L0-unsplash.jpg);
  background-size: cover;
}
